<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="ivap2527" value="https://pkgs.dev.azure.com/ivap2527/_packaging/ivap2527/nuget/v3/index.json" />
  </packageSources>
</configuration>
 nuget.exe restore
nuget.exe push -Source "ivap2527" -ApiKey az <packagePath>
